/* getA */
a {
    color: #ffc107;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #ffc107 !important;
}

/* getB */
body {
    background-color: #a91822;
    color: yellow;
}

.borderBottom{
    border-bottom: #d79347 4px solid;
}

/* getC */
.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* getP */
.persada {
    background-color: #a91822;
    color: yellow;
}



/* getM */

@media only screen and (min-device-width : 360px) and (max-width: 991px) {
.hideOnMobile{
    display: none;
}

.navbar-toggler {
    max-width: 100%;
    min-width:360px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
}

@media only screen and (min-width: 786px) and (max-width: 1900px) {

.hideOnPc{
    display:none;
}
}