/* getA */

a {
    color: #ffc107;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #ffc107 !important;
}


/* getB */

html,body {
    overflow-x: hidden;
    background-color: whitesmoke;
    color: #212529;
}

.borderBottom {
    border-bottom: #FFCD4B 5px solid;
}

.borderTop {
    border-top: #FFCD4B 5px solid;
}


/* getC */

.carousel-item {
    /* height: 100vh;
    min-height: 350px; */
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* getF */

.fi-padding {
    padding-bottom: 3px !important;
}


/* getP */

.persada {
    background-color: #a91822;
    color: #ffbb00;
}

.persada-button {
    border-radius: 50px;
    width: 99%;
}

.price {
    margin: -66% 0.5rem 0 !important;
}

.profile-image{
box-shadow: 0px 5px 11px 0px #00000042; 
border:#FFCD4B 5px solid;
margin:1rem;

}

.profile-width{
max-width:300px;
width: 300px;
}

/* getM */

@media only screen and (min-width: 280px) and (max-width: 786px) {
    .hideOnMobile {
        display: none;
    }
    .navbar-toggler {
        max-width: 99% !important;
        min-width: 280px !important;
        width: 99%;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        background-color: #ffcd4b;
    }
    .nav-pills .nav-link {
        border-radius: 20px;
        padding: 0.5rem 1rem;
        width: 95%;
    }
    .col-sm {
        padding-right: 10px !important;
        padding-left: 10px !important;
    }
    .sp-form[sp-id="143074"] {
        width: 95% !important;
        max-width: 99%;
    }

    #promosian{
        background-position-y: 9rem;
        background-position-x: -5rem;
        height: 32rem;
    }
}

@media only screen and (min-width: 786px) and (max-width: 2300px) {
    .hideOnPc {
        display: none;
    }

    #promosian{
        background-position-y: 9rem;
        background-color: black;
        background-image:url(./asset/image/all-produk.png);background-repeat: 
        no-repeat;background-position: right;
    }
}


/* Button Pulse */
/* Basic button styling */

.pulsingButton {
    box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
    -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    font-weight: normal;
    font-family: sans-serif;
    text-decoration: none !important;
    color: #ffffff;
    transition: all 300ms ease-in-out;
  }
  
  a.pulsingButton:active {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none;
    color: #ffffff;
  }
  
  /* Comment-out to have the button continue to pulse on mouseover */
  
  a.pulsingButton:hover {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none;
    color: #ffffff;
  }
  
  
  /* Animation */
  
  @-webkit-keyframes pulsing {
    to {
      box-shadow: 0 0 0 10px rgba(232, 76, 61, 0);
    }
  }
  
  @-moz-keyframes pulsing {
    to {
      box-shadow: 0 0 0 10px rgba(232, 76, 61, 0);
    }
  }
  
  @-ms-keyframes pulsing {
    to {
      box-shadow: 0 0 0 10px rgba(232, 76, 61, 0);
    }
  }
  
  @keyframes pulsing {
    to {
      box-shadow: 0 0 0 10px rgba(232, 76, 61, 0);
    }
  }
  

/* Plugin */


/* Email Subscriber */