<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx start new row product xxxxxxxxxxxxxxxxxxxxxxxxx -->
<section id="product" style="background: whitesmoke">
  <div id="vue-card">
    <!-- start vue -->
    <div class="container mb-5">
      <div class="row">

        <!-- 📚📚📚 card start 📚📚📚-->
        <!-- ttttttttttttttttttttttttttttttttttttt tanjaq tttttttttttttttttttttttttttttt-->
        <div class="col-sm">
          <div class="card mt-1" style="width: 100%;">
            <span class="m-1">
            <button type="button" class="btn btn-danger float-right mx-1" style="font-size:small">{{tanjaqOffer}}</button>
              <button type="button" class="btn btn-dark float-right" style="font-size:small">{{tanjaqPrice}}</button>
            </span>
            <img class="card-img-top wow fadeInUp" v-bind:src="tanjaqImg" alt=" 📚Card image cap"
              style="margin-top: -10px;" />
            <div class="card-body">
              <h5 class="card-title">{{tanjaqTitle}}</h5>
              <p class="card-text text-justify">
                {{tanjaqDesc}}
              </p>
              <a class="btn btn-danger persada-button" class="btn btn-primary" data-toggle="modal"
                data-target="#tanjaqPersadaModal" style="color:white">Lebih Informasi</a>
            </div>
          </div>
        </div>
        <!-- 📚📚📚 card start 📚📚📚-->
        <!-- aaaaaaaaaaaaaaaaaaaaaaaaaa anas aaaaaaaaaaaaaaaaaaaaaaa-->
        <div class="col-sm">
          <div class="card mt-1" style="width: 100%;">
            <span class="m-1">
            <button type="button" class="btn btn-danger float-right mx-1" style="font-size:small">{{anasOffer}}</button>
              <button type="button" class="btn btn-dark float-right" style="font-size:small">{{anasPrice}}</button>
            </span>
            <img class="card-img-top wow fadeInUp" v-bind:src="anasImg" alt=" 📚Card image cap"
              style="margin-top: -10px;" />
            <div class="card-body">
              <h5 class="card-title">{{anasTitle}}</h5>
              <p class="card-text text-justify">
                {{anasDesc}}
              </p>
              <a class="btn btn-danger persada-button" class="btn btn-primary" data-toggle="modal"
                data-target="#anasPersadaModal" style="color:white">Lebih Informasi</a>
            </div>
          </div>
        </div>
        <!-- 📚📚📚 card start 📚📚📚-->
        <div class="col-sm">
          <div class="card mt-1" style="width: 100%;">
            <span class="m-1">
            <button type="button" class="btn btn-danger float-right mx-1" style="font-size:small">{{birlivaOffer}}</button>
              <button type="button" class="btn btn-dark float-right" style="font-size:small">{{birlivaPrice}}</button>
            </span>
            <img class="card-img-top wow fadeInUp" v-bind:src="birlivaImg" alt=" 📚Card image cap"
              style="margin-top: -10px;" />
            <div class="card-body">
              <h5 class="card-title">{{birlivaTitle}}</h5>
              <p class="card-text text-justify">
                {{birlivaDesc}}
              </p>
              <a class="btn btn-danger persada-button" class="btn btn-primary" data-toggle="modal"
                data-target="#birlivaPersadaModal" style="color:white">Lebih Informasi</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>